*{
  box-sizing: border-box;
}
html{
  background: url(https://www.buyatoyota.com/assets/img/carousel2/2020/COVID_phase_3_1/Mobile_Expanded.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
  background: #00c3d6; /* Old browsers */
background: -moz-linear-gradient(-45deg, #00c3d6 0%, #266eb8 50%, #333333 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #00c3d6 0%,#266eb8 50%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #00c3d6 0%,#266eb8 50%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 6px;
  text-align: center;
  margin: 100px 25px;
  padding: 20px;
}
#head{
  margin: 10px auto;
  line-height: 1.9;
  letter-spacing: 1.2px;
}
#title{
  font-size: 1.3rem;
  font-weight: 700;
}
#description{
  font-size: 0.9rem;
}
#survey-form{
  background: #c3d6ed;
  padding: 20px;
  border-radius: 10px;
}
.form-group label{
  font-size: 0.9rem;
  text-align: left;
  text-transform: uppercase;
  display: block;
}
.form-group p{
  display: block;
  text-align: left;
  margin: 20px auto;
}
#dropdown{
  display: block;
  width: 50%;
  padding: 10px;
}
input[type="text"],
input[type="email"],
input[type="number"]{
  display: block;
  margin: 20px 0px;
  padding: 10px;
  border-radius: 3px;
  width: 50%;
}
#comment-description{
  display: block;
  text-align: left;
  margin: 40px auto 10px;
  text-transform: uppercase;
}
textarea{
  display: block;
  margin: 20px 0px;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
}
